.border{
    /* border: 2px solid red; */
    border-radius: 5px;
    margin: 3px;
}
.flex{
    display: flex;

}
.justify-center{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.bg-black{
    background-color: black; 
    color: white;
}
.invert{
    filter: invert();
}
.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}
.m-2{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* scroll bar  */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #555;    /* dark thumb */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* optional border for spacing */
}

::-webkit-scrollbar-thumb:hover {
  background: #777; /* lighter on hover */
}

/* Firefox (new way) */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}
